body {
    padding: 10px;
    margin: 0px;
}
div.form-student {
    width: 500px;
    border: 1px solid #ccc;
    margin: 25px;
    padding: 10px;
    float: left;
}
div.list-student{
    width: 500px;
    border: 1px solid #ccc;
    margin: 25px;
    padding: 10px;
    float: left;
}
h1 {
    padding: 0px;
    margin-top: 0px;
}
div.form-student label {
    width: 100px;
    float: left;
}
div.form-student input[type="text"] {
    margin-bottom: 10px;
    width: 200px;
    padding: 5px;
}
button {
    margin-bottom: 10px;
    width: 200px;
    padding: 5px;
}
error {
    color: red;
}